<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/activdevnocline/css/nocline-button.css') }}" />
<script type="text/javascript" src="{{ asset('/bundles/activdevnocline/js/nocline-button.js') }}"></script>

<a href="javascript:displayNoclineUI('block');" id="nocline-a-btn-w"><img src="{{ asset('/bundles/activdevnocline/images/play.png') }}" alt="" title="Play with Nocline !" /></a>
<div id="nocline-d-iframe"><iframe src="{{ path('activdev_nocline_default_index') }}"></iframe></div>
<div id="nocline-d-w-o"><img id="nocline-d-w-imc" src="{{ asset('/bundles/activdevnocline/images/close2.png') }}" /><div id="nocline-d-w-o-c"></div></div>
