{% extends 'form_div_layout.html.twig' %}

{% block checkbox_widget %}
{% spaceless %}
<label class="label_chk">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <span>{{ label }}</span>
</label>
{% endspaceless %}
{% endblock checkbox_widget %}


{% block textmultiple_widget %}
{% spaceless %}

<div style="clear: both"></div>
<span class="nocline-span-add"><span>+</span></span>
{{ form_widget(form) }}

{% endspaceless %}
{% endblock %}


{% block field_label %}
    {{ parent() }}

    {% if required %}
        <span class="required" title="This field is required"> * </span>
    {% endif %}
{% endblock %}